<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="processRetriever" type="ProcessAffinityUI.Configuration.ProcessRetrieverSection, ProcessAffinityUI" />
  </configSections>
  <processRetriever>
    <processes>
      <!--<add name="ProcessAffinityUI.exe" priority="4" affinity="0;0;0;1" kill="0" ></add>-->
      <add name="FIH32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FNRB32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fsav32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fsdevcon64.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fsdfwd.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fsgk32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FSGK32ST.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FSHDLL32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FSHDLL64.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FSM32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="FSMA32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fsorsp.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="fssm32.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="MAF.DAP.AutoMailer.ScheduledBatch.exe" priority="4" affinity="1;0;0;0" kill="1" ></add>
      <add name="UCA.exe" priority="4" affinity="0;0;1;0" kill="0" ></add>
      <add name="DTExec.exe" priority="4" affinity="0;0;1;0" kill="0" ></add>
      <add name="OUTLOOK.EXE" priority="4" affinity="0;0;1;1" kill="0" ></add>
      <add name="SmartAudio.exe" priority="4" affinity="0;0;1;0" kill="0" ></add>
      <add name="SQLAGENT.EXE" priority="4" affinity="0;0;1;0" kill="0" ></add>
      <!--<add name="WmiPrvSE.exe" priority="12" affinity="0;0;0;1" kill="0" ></add>-->
    </processes>
  </processRetriever>
</configuration>